---
import ArticleCard from "./ArticleCard.astro";
import type { ArticleListItem } from "../../lib/article-list";

interface Props {
  items: readonly ArticleListItem[];
  pagefindIgnore?: boolean;
}

const { items, pagefindIgnore = false } = Astro.props;
---

<ol
  class="grid w-full max-w-full min-w-0"
  data-pagefind-ignore={pagefindIgnore ? true : undefined}
  data-article-list
>
  {
    items.map((item) => (
      <li class="border-border max-w-full min-w-0 border-b py-6 first:pt-0 last:border-b-0 last:pb-0">
        <ArticleCard
          author={item.author}
          authors={item.authors}
          category={item.category}
          date={item.date}
          description={item.description}
          href={item.href}
          image={item.image}
          title={item.title}
        />
      </li>
    ))
  }
</ol>
