---
import type { ImageMetadata } from "astro";

import HoverImageLink from "./HoverImageLink.astro";

interface Props {
  image: ImageMetadata;
  label: string;
  after: string;
  alt?: string;
  expanded?: boolean;
}

const { image, label, after, alt = "", expanded = false } = Astro.props;
---

<p>
  <HoverImageLink image={image} label={label} alt={alt} expanded={expanded} />
  {after}
</p>
